{{extend 'layout.html'}}
<h1>{{=T('Download')}}</h1>

<div class="left">
<h2><a href="{{=URL('static','PlocMe.apk')}}">Baixar Ploc.Me</a></h2>
<a href="{{=URL('static','PlocMe.apk')}}"><img src="{{=URL('static','images/qrcode.png')}}" alt="qrcode"  /></a>
</div>

<div class="right">
  <h2>Requistos do sistema:</h2>
  <ul>
    <li>Sistema Operacional Android 2.1</li>
    <li>Celular com câmera, GPS e acelerômetro.</li>
  </ul>
  <h3>Problemas:</h3>
  <p>Entre em contato com a nossa central de mata bugs pelo email: <a href="mailto:bugs@plocme.com">bugs@plocme.com</a></p>
</div>
