{{extend 'layout.html'}}
<h1>{{=T('The game')}}</h1>

<div class="right">
<img src="{{=URL('static','images/config.jpg')}}" alt="Configuração" /><br />
<img src="{{=URL('static','images/map_menu.jpg')}}" alt="Mapa" />
</div>



<h2>Participantes:</h2>
<p>Ploc.Me é recomendado para crianças a partir de 8 anos, adultos e idosos. O número de jogadores é ilimitado.</p>

<h2>Objetivo:</h2>
<p>Somar mais pontos, sem limites. Para fazer pontos, você deve capturar as bolhas espalhadas nos principais espaços públicos. </p>
<p>A quantidade de pontos que você ganha é a soma dos pontos das bolha capturadas.</p>
<p>Haverá bolhas com bônus ou prêmios oferecidas pelos patrocinadores do jogo. É possível criar novos desafios e participar das campanhas dos anunciantes.</p>

<h2>Regras:</h2>
<p>Vale tudo! Capture quantas bolhas for possível.</p>

<h2>Bolhas:</h2>
<p>Para jogar Ploc.Me é necessário instalar o aplicativo no celular que tenha os recursos de GPS, acelerômetro e câmera. Ploc.Me é composto por 5 tipos de bolhas, sendo:</p>
<ul>
<li>Bolha azul = 1 ponto</li>
<li>Bolha verde = 5 pontos</li>
<li>Bolha vermelha = 10 pontos</li>
<li>Bolha amarela = 20 pontos</li>
<li>Bolha bônus = Com bônus de patrocinadores</li>
</ul>


